---
layout: default
title: СБОРКА
---
{% for post in site.posts limit:10 %}
<div id="post">
	<a href='http://{{post.slug}}.thesetup.ru/' title='Посмотрите интервью с {{post.person}}.'><img src='/images/portraits/{{post.slug}}.jpg' alt='{{post.person}}' width='500' height='335' class='portrait'></a>
	<h2 class='person'><a href='http://{{post.slug}}.thesetup.ru/' title='Посмотрите интервью с {{post.person}}.'>{{post.person}}</a></h2>
	<p class='summary'>{{post.summary}}</p>
	<p class='details'>Опубликовано <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%b %d, %Y"}}</time> in {% include categories.html %}</p>
</div>
{% endfor %}
<p>Увидеть еще интервью <a id="inter" href="http://thesetup.ru/interviews/" title="Посмотреть все интервью.">можно тут!</a></p>
