---
layout: default
title: All of The Setup interviews in this category
---
<ul id='interviews'>
{% for post in site.categories.[page.category] %}
	<li>
    	<a href='http://{{post.slug}}.thesetup.ru/' title='Посмотрите интервью с {{post.person}}.'><img src='/images/icons/{{post.slug}}.jpg' alt='{{post.person}}' width='80' height='80' class='icon'></a>
	<h2><a href='http://{{post.slug}}.thesetup.ru/' title='Посмотрите интервью с  {{post.person}}.'>{{post.person}}</a></h2>
	<p class='summary'>{{post.summary}}</p>
	<p class='details'>Опубликовано <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%b %d, %Y"}}</time> in {% include categories.html %}</p>
	</li>
{% endfor %}
</ul>
